body{
	background-image:url("../imagenes/fondo.png");
	font-family:"Times New Roman","Lucida Console","Courier New";
	color:#17202A;
	font-size:40px;
	text-align:center;
}
hr{
	border:2px solid #000000;
	width:80%;
	border-radius:5px;
}
p{
	text-align:center;
	font-size:17px;
	color:#000000;
	font-weight:bold;
	line-height:1;
    letter-spacing:2px;
}
table,tr,td{
	border:2px solid #000000;
	border-spacing:0px;
	background-color:#FFFFFF;
	font-size:17px;
	color:#000000;
	 margin-left: auto;
  margin-right: auto;
	text-align:center;
	font-weight:bold;
}
/*clase para los pies de pagina*/
.pie{
	text-align:center;
	font-size:15px;
	font-weight:bold;
	color:#17202A
}
.encabezado{
	text-align:center;
	font-size:40px;
	font-weight:bold;
	color:#000000;
}
/*divs*/
div#top{
	font-family:fuente-varsity_regular;
	width:100%;
	height:75px;
	background-image:linear-gradient(#E67E22 ,#F8C471);
}
div#ppag{
	width:100%;
	height:35px;
	background-image:radial-gradient(#E67E22 ,#F8C471);
	color:#FFFFFF
}
/*carrousel de imagenes*/
.carrousel{
	width:600px;
	margin:auto;
	box-sizing:border-box;
}
.contecarrousel{
	width:100%;
	height:400px;
	overflow:hidden;
	box-sizing:border-box;
}
.itemcarrousel{
	position:relative;
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.itemcarrouseltarjeta{
	width:100%;
	height:100%;
	box-sizing:border-box];
}
.itemcarrouselarrows{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	box-sizing:border-box;
}
.itemcarrouselarrows> i:hover{
	cursor:pointer;
}
.contecarrouselcontroller{
	width:100%;
	display:flex;
	justify-content:space-evenly;
}
.contecarrouselcontroller> a{
	text-decoration:none;
	font-size:32;
	color:grey;
}
.itemcarrouselarrows > a > i {
	color:white;
}
/*cajas de productos*/
.caja{
	height:100%;
	width:15%;
	background:#eee;
	border:1px solid #eee;
	margin:5px;
	color:black;
	text-align:center;
	display:inline-block;
}
.caja:hover{
	box-shadow:0 0 10px red;
	transform:scale(1.3);
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:black;
	font-weight:bold;
}
.texto-adicional{
	padding-top:5px;
	font-size:20px;
}
.navegacion{
	display:flex;
	height:100px;
}
.navegacion-item{
	felx:1;
	color:#fff;
	font-weight:bold;
	font-size:15px;
	display:flex;
	transition:flex-grow 0.2s;
	justify-content:center;
	align-items:center;
}

.navegacion-item:hover{
	flex-grow:10;
}
.navegacion-item:hover .navegacion-titulo{
	transform:rotate(0);
}
.navegacion-item:nth-child(1){
	background:#85C1E9;
}
.navegacion-item:nth-child(2){
	background:#76D7C4;
}
.navegacion-item:nth-child(3){
	background:#F9E79F;
}
.navegacion-item:nth-child(4){
	background:#D7DBE2;
}
.navegacion-titulo{
	margin:0;
	transform:rotate(-90deg);
	font-size:15px;
	transition:transform 0.2s 0.2s;
}
.contacto{
	display:flex;
	align-items:center;
	gap:150px;
	font-size:25px;
	background:#eee;
	border:20 solix #eee;
	margin:20px;
	border-radius:30px;
	font-family:"arial black";
	width:80%;
}
@font-face{
	font-family:fuente-varsity_regular;
	src: url(../fuentes/varsity_regular.ttf);
}









